
.oh{
	color:rgba(23, 6, 85, .5);
	color: #000000;
	color: hsl(0,100%,50%);
}
h1{
	color:green;
}
p{color:red;}

body {font-size: 30px;}
.box{
	height: 100px;
	width: 100px;
	padding:20px;
	margin:20px;border:10px solid blueviolet;
	background-color: aqua;

}